// Colors
$color-primary: #3498db;
$color-black: #1D1F21;
$color-white: #F1F1F1;

$color-success: #2ecc71; // Green
$color-danger: #e74c3c; // Red
$color-warning: #f39c12; // Yellow
$color-code: #dd1144;

$color-gray-dark: #808080;
$color-gray-light: #e5e5e5;

$color-black1: #2c3e50;
$color-blue2: #2980b9;
$color-grey3: #7f8c8d;
$color-orange5: #e67e22;


// Font Stacks
$font-primary: "Helvetica Neue", Arial, sans-serif;
$font-secondary: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
$font-monospace: Menlo, Monaco, "Courier New", monospace;


// Breakpoints
$bp-xsmall: 20em;
$bp-small: 45em;
$bp-medium: 50em;
$bp-large: 60em;
$bp-xlarge: 80em;


// Sizing
$font-base: 100%;
$spacing: 1.5625em;
$container-max: 60em;